body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
  padding: 0;
}

h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  text-align: center;
}

hr {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 2px;
  background-color: black;
  border: none;
}

div, p {
  margin: 0;
  padding: 0;
  font-size: 1rem;
}

@media (max-width: 720px) {
  hr {
    width: 80%;
  }
  div, p {
    font-size: clamp(1.2rem, 4vw, 1.5rem);
  }
}
