// ===guide major styles===
.guide {
  font-family: "Trebuchent MS", "Verdana", "Helvetica", "Arial", sans-serif;
  font-size: larger;
  text-align: center;
  margin: 0 0.25rem;
  background-color: rgba(240, 248, 255, 0.3);
  font-size: large;
  padding: 2px 4px;
  display: block;
  overflow: hidden;
}

.guide ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline;
  justify-content: center;
  transition: max-height 0.3s ease;
  gap: 0.5rem;
  max-height: 0;
}

.guide ul.show {
  max-height: 16rem;
}

.guide li a {
  display: block;
  padding: 2px 0.25rem;
  text-decoration: none;
  color: #333;
}

.guide li a:hover {
  background-color: rgba(0,0,0,0.05);
}

// ===guide headings styles===
.guide-heading {
  font-weight: bold;
  color: #00bfff;
  padding: 0.25rem 0.5rem;
  background-color: rgba(0,0,0,0.1);
  text-transform: uppercase;
  cursor: pointer;
}