.guide {
    text-align: center;
    margin: 8px 0;
    background-color: rgba(240, 248, 255, 0.3);
    font-size: large;
}
.guide a {
    margin: 0 12px;
    text-decoration: none;
    color: blueviolet;
    font-weight: bold;
}
.guide a:hover {
    color: darkviolet;
    text-decoration: underline;
}

@media (max-width: 768px) {
    .LHSnav, .RHSnav { display: none; }
    .content { margin: 0; }
}